<div id="<%= dom_id reminder %>">
  <p>
    <strong>Título:</strong>
    <%= reminder.titulo %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= reminder.descricao %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= reminder.data %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= reminder.hora %>
  </p>

  <p>
    <strong>Prioridade:</strong>
    <%= reminder.prioridade %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reminder.status %>
  </p>

  <p>
    <strong>Lembrete:</strong>
    <%= reminder.tag.titulo %>
  </p>

</div>
