<h1 style="margin-left: 10px;">Lembretes</h1>


<ul>
<% @tags.each do |tag| %>
  <strong><li><%= tag.titulo %></li></strong>
    <ul data-controller="reminders">
    <% tag.reminders.each do |reminder| %>
      
      <li>
        <%= form_with(model: reminder) do |form| %>

          <%= form.check_box :status,
                                data: {
                                  id: reminder.id,
                                  action: "reminders#toggle_status"
                                } %>
          <a href="<%=reminder_path(reminder)%>">
            <%= reminder.titulo %>
            <% if reminder.data %>
              - <%= reminder.data.strftime('%d/%m/%Y') %>
            <% end %>
          </a>   
        <% end %>
      </li>
      <% end %>
      </ul>
      <hr>
<% end %>
</ul>

<br>


<button style="margin-left: 10px;">
<%= link_to "Novo lembrete", new_reminder_path %>
</button>
<button style="margin-left: 10px;">
<%= link_to "Página inicial", home_index_path %>
</button>