<h1 style="margin-left: 10px;">Hoje</h1>
<ul>
<% @tags.each do |tag| %>
  
  <% unless tag.reminders.where(data: Date.today).empty? %>
  <strong><li><%= tag.titulo %></li></strong>
    <ul>
    <% tag.reminders.where(data: Date.today).find_each do |reminder| %>
      <li>
        <%= form_with(model: reminder) do |form| %>

          <%= form.check_box :status,
                                data: {
                                  id: reminder.id,
                                  action: "reminders#toggle_status"
                                } %>
            <a href="<%=reminder_path(reminder)%>">
              <%= reminder.titulo %>
            </a>
          <% end %>
      </li>
      <% end %>
      </ul>
      <hr>
  <% end %>
<% end %>
</ul>

<br>
<button style="margin-left: 10px;">
<%= link_to "Página inicial", home_index_path %>
</button>
