<header>
    <nav class="navbar navbar-light">
        <div class="navbar-nav" style="margin-top: 15px; margin-left: 25px; font-size: 18px;">
            <a class="nav-item nav-link" href="<%= home_index_path %>">Página inicial<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="<%= reminders_today_path %>">Hoje</a>
            <a class="nav-item nav-link" href="<%= reminders_path %>">Todos</a>
            <a class="nav-item nav-link disabled" href="<%= reminders_done_path %>">Concluídos</a>
        </div>
    </nav>


</header>

    <hr>

<main>
    <ul>
        <h3>Minhas Listas</h3>
        <% @tags.each do |tag| %>
            <li><a href="<%=tag_path(tag)%>"><%= tag.titulo %> (<%= tag.reminders.length %>)</a></li>
        <% end %>
    </ul>
</main>

<hr>

<footer>
    <nav>
        <%= link_to "Novo lembrete", new_reminder_path %>
        <%= link_to "Adicionar Lista", new_tag_path %>
    </nav>
</footer>