<p style="color: green"><%= notice %></p>

<h1 style="margin-left: 10px;"><%= @tag.titulo %></h1>
<ul style="margin-left: -20px;" data-controller="reminders"ss>
  <% @tag.reminders.each do |reminder| %>
    <li>
        <%= form_with(model: reminder) do |form| %>

          <%= form.check_box :status,
                                data: {
                                  id: reminder.id,
                                  action: "reminders#toggle_status"
                                } %>
          <a href="<%=reminder_path(reminder)%>">
            <%= reminder.titulo %>
            <% if reminder.data %>
              - <%= reminder.data.strftime('%d/%m/%Y') %>
            <% end %>
          </a>   
        <% end %>
        <% end %>
      </li>
</ul>

<div style="display: flex; margin-left: 10px;">
  <button><%= link_to "Editar", edit_tag_path(@tag) %></button>
  <%= button_to "Remover", @tag, method: :delete %></button>
</div>
<br>

<button style="margin-left: 10px;"><%= link_to "Voltar para listas", tags_path %>
