<p style="color: green"><%= notice %></p>

<%= render @tag %>

<div>
  <button><%= link_to "Editar", edit_tag_path(@tag) %></button>
  <%= button_to "Remover", @tag, method: :delete %></button>
</div>
<br>
<button><%= link_to "Voltar para listas", tags_path %>
